#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
background-color: rgba(0, 0, 0, 0.457);
   /* -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px); */
  z-index: 100;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .modal {
    position: absolute;
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  margin: 40px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.605);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  color: white;
}
.modal button {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 8px 11px;
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}